@inherits LayoutComponentBase

@using Thirsol.Notifications.Toasts
@using Thirsol.Notifications.Toasts.Enums

<Toasts Position="ToastPosition.BottomRight" Timeout="10" SuccessClass="success-toast-override" SuccessIconClass="fa fa-thumbs-up" ErrorIconClass="fa fa-bug" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
